.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid-auto-flow {
    grid-auto-flow: column;
}
.gap-24 {
    gap: 2.4rem;
}

i {
    font-size: 3.2rem;
    color: var(--gray-400);
}